@tailwind base;
@tailwind components;
@tailwind utilities;

body, :root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @apply main-gradient text-purple-950;
}

.main-gradient {
  @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
}